{{template "header.tmpl" .}}

<h1>
    Map
</h1>
<p>
    Map of reports
</p>

<form action="">
    <input id="search" type="text" name="" id="">
</form>

<form action="">
    <input id="radius" type="range" name="" id="">
    <button class="btn btn-nrm" type="submit"></button>
</form>

<div id="map">

</div>

<!-- ========================================= -->

<h1>
    Scanners
</h1>
<p>
    Scans reports and notifies
</p>

{{ range $i, $s := .data.Scanners }}
    {{template "scanner.tmpl" $s}}
{{ end }}


{{template "footer.tmpl" .}}