

{{template "brand.tmpl" }}

<h1>
    Email
</h1>

<form action="">
    <input class="input" type="email" name="" placeholder="example@email.com">
    <p>
        By registering you agree to policy
    </p>
    
    <button class="btn btn-nrm" type="submit">
        Submit
    </button>
</form>
