

{{template "brand.tmpl" }}

<h1>
    ✔ Verification Email Sent
</h1>


<form action="">
    <p>
        A link has been sent to your inbox. Please wait a few minutes, if you do not recieve an email after 5 minutes, try resend.
    </p>
    <button class="btn btn-outline" type="submit">
        Resend
    </button>
</form>
